{
  "api": false,
  "authentication.api": false,
  "authentication.m3u": false,
  "authentication.pms": false,
  "authentication.web": false,
  "authentication.xml": false,
  "backup.keep": 5,
  "backup.path": "{XTEVE_HOME}/backup",
  "buffer": "",
  "buffer.size.kb": 10240,
  "buffer.timeout": 30,
  "cache.images": true,
  "epgSource": "XEPG",
  "ffmpeg.options": "",
  "ffmpeg.path": "",
  "vlc.options": "",
  "vlc.path": "",
  "files": {
    "hdhr": {},
    "m3u": {},
    "xmltv": {}
  },
  "files.update": true,
  "filter": {},
  "git.branch": "master",
  "language": "en",
  "log.entries.ram": 500,
  "m3u8.adaptive.bandwidth.mbps": 10,
  "mapping.first.channel": 1000,
  "port": "{XTEVE_PORT}",
  "ssdp": true,
  "temp.path": "{XTEVE_TEMP}",
  "tuner": 1,
  "update": [
    "0000"
  ],
  "user.agent": "xteve",
  "uuid": "",
  "udpxy": "",
  "version": "2.1.0",
  "xepg.replace.missing.images": true,
  "xteveAutoUpdate": true
}